<div ng-if="loading" class="alert alert-info">Loading users, please wait...</div>
<div class="container mt-4">
  <h2>Dashboard - Users</h2>
  <div ng-if="loading">Loading users...</div>
  <div class="row">
    <div class="col-md-4 mb-3" ng-repeat="u in users">
      <div class="card shadow-sm">
        <img ng-src="{{u.avatar || 'images/placeholder.jpg'}}" class="card-img-top" alt="{{u.name}}">
        <div class="card-body text-center">
          <h5 class="card-title">{{u.name}}</h5>
          <p class="card-text">{{u.email}}</p>
          <a class="btn btn-primary btn-sm" href="#!/profile/{{u.id}}">View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>