body{
    padding-bottom:40px;
    background-color: #f8f9fa;
}
#brand{
    margin-left:91.8%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 173, 185);
    font-weight: bold;
}
.card-img-top{height:150px;object-fit:cover;}
.card{border: radius 10px;}
.card-title{color:#2c3e50;}